In [9]:
import pandas as pd 

employees_df= pd.read_csv('data/employees.csv')
system_access_df= pd.read_csv('data/system_access.csv')


df = employees_df.join(system_access_df, how='left')
df.head(25)

,employee_number,first_name,last_name,email,title,id,access_level
0,EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,17263.0,Account Admin
1,EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,10275.0,Contract Entry
2,EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,7568.0,Contract Entry
3,EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,21986.0,Account Admin
4,EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,20614.0,Account Admin
5,EMP003133,Donielle,Midgley,donielle.midgley@consultants.com,Sales Assistant,18708.0,Account Admin
6,EMP003134,Marcela,Thieme,marcela.thieme@consultants.com,Sales Assistant,10197.0,Account Admin
7,EMP003180,Haily,Wadeson,haily.wadeson@consultants.com,Sales Assistant,14762.0,Account Admin
8,EMP003265,Natala,Judd,natala.judd@consultants.com,Account Manager,22370.0,Contract Entry
9,EMP003287,Gayla,Aldin,gayla.aldin@consultants.com,Director of Sales,21972.0,Account Admin
10,EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Director of Sales,15950.0,Contract Entry
11,EMP003299,Nerte,Luipold,nerte.luipold@consultants.com,Account Manager,17999.0,Contract Entry
12,EMP003308,Vere,Gateman,vere.gateman@consultants.com,Account Manager,14165.0,Account Admin
13,EMP003344,Cristie,Greenier,cristie.greenier@consultants.com,Sales Assistant,17022.0,Account Admin
14,EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,9016.0,Contract Entry
15,EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,10492.0,Contract Entry
16,EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,7966.0,Account Admin
17,EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,13748.0,Contract Entry
18,EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,20601.0,Account Admin
19,EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,20450.0,Contract Entry
20,EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,13448.0,Contract Entry
21,EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,23109.0,Account Admin
22,EMP003404,Randie,Dimbylow,randie.dimbylow@consultants.com,Sales Assistant,5993.0,Approval - Manager
23,EMP003433,Becka,Crutchley,becka.crutchley@consultants.com,Account Manager,12683.0,Approval - Manager
24,EMP003434,Elwira,Hedden,elwira.hedden@consultants.com,Account Manager,18025.0,Account Admin

In [10]:
system_access_df.rename(columns={'id': 'employee_number'}, inplace=True)

In [6]:
system_access_df['employee_number'] = 'EMP'+ system_access_df['employee_number'].astype(str).str.zfill(6)
system_access_df

    employee_number        access_level
0         EMP017263       Account Admin
1         EMP010275      Contract Entry
2         EMP007568      Contract Entry
3         EMP021986       Account Admin
4         EMP020614       Account Admin
..              ...                 ...
849       EMP007600      Contract Entry
850       EMP011112  Approval - Manager
851       EMP005295      Contract Entry
852       EMP007470       Account Admin
853       EMP016383      Contract Entry

[854 rows x 2 columns]

In [11]:
df_missingAL= df.loc[df['access_level'].isnull()]
df_missingAL

,employee_number,first_name,last_name,email,title,id,access_level
854,EMP020143,Nerissa,Drogan,nerissa.drogan@consultants.com,Sales Assistant,NaN,NaN
855,EMP020160,Ichabod,Schultze,ichabod.schultze@consultants.com,Sales Assistant,NaN,NaN
856,EMP020166,Bethanne,Shugg,bethanne.shugg@consultants.com,Account Manager,NaN,NaN
857,EMP020287,Halsy,Mounch,halsy.mounch@consultants.com,Account Manager,NaN,NaN
858,EMP020288,Aurlie,MacTerrelly,aurlie.macterrelly@consultants.com,Sales Assistant,NaN,NaN
...,...,...,...,...,...,...,...
1115,EMP024864,Kristina,Yakov,kristina.yakov@consultants.com,Sales Assistant,NaN,NaN
1116,EMP024885,Margarita,Habbergham,margarita.habbergham@consultants.com,Account Manager,NaN,NaN
1117,EMP024890,Prescott,Southward,prescott.southward@consultants.com,Account Manager,NaN,NaN
1118,EMP024896,Raine,Learned,raine.learned@consultants.com,Account Manager,NaN,NaN
1119,EMP024931,Frederique,Fant,frederique.fant@consultants.com,Sales Assistant,NaN,NaN

In [12]:
df.loc[df['access_level'].notnull()]

,employee_number,first_name,last_name,email,title,id,access_level
0,EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,17263.0,Account Admin
1,EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,10275.0,Contract Entry
2,EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,7568.0,Contract Entry
3,EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,21986.0,Account Admin
4,EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,20614.0,Account Admin
...,...,...,...,...,...,...,...
849,EMP020103,Jackquelin,Mose,jackquelin.mose@consultants.com,Account Manager,7600.0,Contract Entry
850,EMP020105,Reena,Goreway,reena.goreway@consultants.com,Sales Assistant,11112.0,Approval - Manager
851,EMP020106,Evered,Scollick,evered.scollick@consultants.com,Account Manager,5295.0,Contract Entry
852,EMP020108,Chrissy,McIntee,chrissy.mcintee@consultants.com,Sales Assistant,7470.0,Account Admin
853,EMP020131,Selma,Storek,selma.storek@consultants.com,Account Manager,16383.0,Contract Entry

In [13]:
system_access_df

     employee_number        access_level
0              17263       Account Admin
1              10275      Contract Entry
2               7568      Contract Entry
3              21986       Account Admin
4              20614       Account Admin
..               ...                 ...
849             7600      Contract Entry
850            11112  Approval - Manager
851             5295      Contract Entry
852             7470       Account Admin
853            16383      Contract Entry

[854 rows x 2 columns]

In [14]:
print(len(df))

1120

In [18]:
subset_df = df.loc[df['system_access'].isnull()].copy()
print(len(subset_df))
subset_df.tail()

KeyError: 'system_access'

In [16]:
 subset_df.loc[subset_df ['title'] == 'Director of Sales', 'access_level'] = 'Data Mining'

subset_df.tail()

AttributeError: 'str' object has no attribute 'loc'