In [1]:
import pandas as pd 

employees_df= pd.read_csv('data/employees.csv')
system_access_df= pd.read_csv('data/system_access.csv')

In [2]:
system_access_df.rename(columns={'id': 'employee_number'}, inplace=True)

In [3]:
system_access_df['employee_number'] = 'EMP'+ system_access_df['employee_number'].astype(str).str.zfill(6)
system_access_df

    employee_number        access_level
0         EMP017263       Account Admin
1         EMP010275      Contract Entry
2         EMP007568      Contract Entry
3         EMP021986       Account Admin
4         EMP020614       Account Admin
..              ...                 ...
849       EMP007600      Contract Entry
850       EMP011112  Approval - Manager
851       EMP005295      Contract Entry
852       EMP007470       Account Admin
853       EMP016383      Contract Entry

[854 rows x 2 columns]

In [5]:
employees_df.set_index('employee_number',inplace = True)
system_access_df.set_index('employee_number',inplace = True)


df = employees_df.join(system_access_df, how='left')
df.head(25)

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003045,Lizzie,Blue,lizzie.blue@consultants.com,Sales Assistant,Contract Entry
EMP003051,Marjory,Selcraig,marjory.selcraig@consultants.com,Sales Assistant,Contract Entry
EMP003068,Aguste,O'Connor,aguste.o'connor@consultants.com,Sales Assistant,Contract Entry
EMP003097,Clemens,Kopman,clemens.kopman@consultants.com,Account Manager,Account Admin
EMP003133,Donielle,Midgley,donielle.midgley@consultants.com,Sales Assistant,Contract Entry
EMP003134,Marcela,Thieme,marcela.thieme@consultants.com,Sales Assistant,Contract Entry
EMP003180,Haily,Wadeson,haily.wadeson@consultants.com,Sales Assistant,Contract Entry
EMP003265,Natala,Judd,natala.judd@consultants.com,Account Manager,NaN
EMP003287,Gayla,Aldin,gayla.aldin@consultants.com,Director of Sales,Approval - Manager
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Director of Sales,NaN
EMP003299,Nerte,Luipold,nerte.luipold@consultants.com,Account Manager,Account Admin
EMP003308,Vere,Gateman,vere.gateman@consultants.com,Account Manager,Account Admin
EMP003344,Cristie,Greenier,cristie.greenier@consultants.com,Sales Assistant,Contract Entry
EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,Account Admin
EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,Account Admin
EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,Account Admin
EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,Account Admin
EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,Account Admin
EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,Account Admin
EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,Account Admin
EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,Account Admin
EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,Account Admin
EMP003390,Reuben,Huetson,reuben.huetson@consultants.com,Account Manager,Account Admin
EMP003390,Sibby,Portis,sibby.portis@consultants.com,Account Manager,Account Admin

In [6]:
df_missingAL= df.loc[df['access_level'].isnull()]
df_missingAL

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003265,Natala,Judd,natala.judd@consultants.com,Account Manager,NaN
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Director of Sales,NaN
EMP003605,Jany,Bianco,jany.bianco@consultants.com,Director of Sales,NaN
EMP003684,Annmarie,Scrange,annmarie.scrange@consultants.com,Director of Sales,NaN
...,...,...,...,...,...
EMP023849,Sib,Raymond,sib.raymond@consultants.com,Director of Sales,NaN
EMP023911,Constantine,Seath,constantine.seath@consultants.com,Director of Sales,NaN
EMP023999,Merla,Siman,merla.siman@consultants.com,Account Manager,NaN
EMP024117,Netti,Lebreton,netti.lebreton@consultants.com,Account Manager,NaN
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Account Manager,NaN

In [9]:
df.loc[df['title']=='Director of Sales']

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP003037,Juliana,Burbudge,juliana.burbudge@consultants.com,Director of Sales,NaN
EMP003287,Gayla,Aldin,gayla.aldin@consultants.com,Director of Sales,Approval - Manager
EMP003291,Gweneth,Abbate,gweneth.abbate@consultants.com,Director of Sales,NaN
EMP003605,Jany,Bianco,jany.bianco@consultants.com,Director of Sales,NaN
EMP003668,Bailie,Simone,bailie.simone@consultants.com,Director of Sales,Approval - Manager
...,...,...,...,...,...
EMP023849,Sib,Raymond,sib.raymond@consultants.com,Director of Sales,NaN
EMP023856,Zorana,Tarr,zorana.tarr@consultants.com,Director of Sales,Approval - Manager
EMP023866,Jeramey,Dondon,jeramey.dondon@consultants.com,Director of Sales,Approval - Manager
EMP023911,Constantine,Seath,constantine.seath@consultants.com,Director of Sales,NaN
EMP024501,Fedora,Belle,fedora.belle@consultants.com,Director of Sales,Approval - Manager

In [10]:
df_missingAL.loc[df_missingAL ['title'] == 'Account Manager', 'access_level'] = 'Account Admin'

df_missingAL.tail()

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-10-8776f36715ed>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missingAL.loc[df_missingAL ['title'] == 'Account Manager', 'access_level'] = 'Account Admin'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP023849,Sib,Raymond,sib.raymond@consultants.com,Director of Sales,NaN
EMP023911,Constantine,Seath,constantine.seath@consultants.com,Director of Sales,NaN
EMP023999,Merla,Siman,merla.siman@consultants.com,Account Manager,Account Admin
EMP024117,Netti,Lebreton,netti.lebreton@consultants.com,Account Manager,Account Admin
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Account Manager,Account Admin

In [11]:
df_missingAL.loc[df_missingAL ['title'] == 'Sales Assistant', 'access_level'] = 'Contract Entry'

df_missingAL.tail()

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-11-d1ade5d87210>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missingAL.loc[df_missingAL ['title'] == 'Sales Assistant', 'access_level'] = 'Contract Entry'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP023849,Sib,Raymond,sib.raymond@consultants.com,Director of Sales,NaN
EMP023911,Constantine,Seath,constantine.seath@consultants.com,Director of Sales,NaN
EMP023999,Merla,Siman,merla.siman@consultants.com,Account Manager,Account Admin
EMP024117,Netti,Lebreton,netti.lebreton@consultants.com,Account Manager,Account Admin
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Account Manager,Account Admin

In [12]:
df_missingAL.loc[df_missingAL ['title'] == 'Director of Sales', 'access_level'] = 'Approval - Manager'

df_missingAL.tail()

C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-12-10cbe5bf6a72>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missingAL.loc[df_missingAL ['title'] == 'Director of Sales', 'access_level'] = 'Approval - Manager'

,first_name,last_name,email,title,access_level
employee_number,,,,,
EMP023849,Sib,Raymond,sib.raymond@consultants.com,Director of Sales,Approval - Manager
EMP023911,Constantine,Seath,constantine.seath@consultants.com,Director of Sales,Approval - Manager
EMP023999,Merla,Siman,merla.siman@consultants.com,Account Manager,Account Admin
EMP024117,Netti,Lebreton,netti.lebreton@consultants.com,Account Manager,Account Admin
EMP024191,Danny,Vinten,danny.vinten@consultants.com,Account Manager,Account Admin